.topnav {
  background-color: #F68E5F;
  overflow: hidden;
  position: relative;
}

/* Style the links inside the navigation bar */

.topnav li {
  float: right;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */

.topnav li:hover {
  background-color: #F76C5E;
  color: black;
}

/* Hide the link that should open and close the topnav on small screens */

.topnav .icon {
  display: none;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  margin: 50px;
}

.btn-group {
  margin: 70px;
  position: absolute;
  top: 0%;
  right: 38%;
}

.topnav img {
  position: absolute;
  width: 200px;
  left: 5%;
  margin-top: 0.3%;
}